<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" ngModel required email #email="ngModel" />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" ngModel required password minlength="6" #password="ngModel"/>
    </div>

    <button class="button">Login</button>
   
  </div>
     @if( email.touched && email.dirty && email.invalid) {
      <div class="error">Please enter a valid email address</div>
    }
   @if( password.touched && password.invalid && password.dirty) {
      <div class="error">Please enter a valid password</div>
    }
</form>
